@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #23cc71;
}
.App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: var(--basic-color);
}
.list-container {
  width: 50%;
  height: 400px;
  margin: 40px;
  margin-right: auto;
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
@media screen and (max-width: 600px) {
  .list-container {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.list-text {
  font-weight: 600;
  margin-right: 20px;
}
.list-description {
  font-weight: 600;
  font-style: bold;
  color: var(--basic-color);
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
.list-button {
     font: inherit;
  cursor: pointer;
  padding: 3px;
  border: 1px solid #2a5b84;
  background-color: #2a5b84;
  color: #fefae1;
  border-radius: 10px;
  margin-right: 3px;
    margin-left: auto;

}
.footer {
  font-size: 15px;
  font-weight: 600;
}
.list {
  list-style: circle;
  display: flex;
  margin: 15px;
}
